.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 28px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.header nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header nav ul li a {
    color:  white;
    padding: 10px 20px;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}